@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@600&display=swap');


/*css reset*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Outfit;
  font-size:14px;
  
}

body{
  background-color: #dadada;
}



/*elements*/
a{
  text-decoration: none;
  color:inherit;
}

img{
  color:black;
}


/* nav section */
nav{
  background-color: #131921;
  padding: 10px 20px;
  color:white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-country
{
  display: flex;
  align-items: end;
  margin-left:15px;
  font-size:13px;
  color: #c4c4c4;
}

#drop{
  align-self: flex-end;
  margin-bottom: 5px;
  margin-left: 2px;
}

.nav-country h1{
  color:#fff;
  font-size: 14px;
}

.nav-search{
  flex:1; 
  display: flex;
  align-items: center;
  background: #fff;
  color:gray;
  max-width: 1000px;
  border-radius: 4px;
  margin-left: 15px;
}

.nav-search-category{
  display: flex;
  align-items: center;
  padding: 10px 20px;
  gap: 5px; 
  background: #e5e5e5;
  border-radius: 4px 0 0 4px;
}

.nav-search-input{
  border:none;
  outline:none;
  padding-left:20px;
  width:100%;
}

.nav-search-icon{
  max-width: 41px;
  padding: 8px;
  background: #ffd65f;
  border: 0 4px 4px 0px;
}

.nav-language{
  display: flex;
  margin-left: 1px;
  margin-right: 0;
  padding-left: 9px;
}


.nav-language * {
  margin: 0 2px 0 2px;
}

.login{
  margin-left: 1px;
  padding-left: 9px;
}

.sign-in-drop{
  display: flex;
}

.returns{
  margin-left: 1px;
  padding-left: 9px;
}

.cart {
  display:flex;
  align-items: end;
  margin-left: 1px;
  padding-left: 9px;
  margin-top: 4px;
}

.grey{
  color:grey;
  font-size: 12px;
}

/* section nav bottom */
.nav-bottom{
  background-color: #131921; 
  color:white;
  display: flex;
  padding:15px;
  gap: 15px;
  font-size: 15px;
}



.menu{
  display: flex;
  margin-right: 5px;
}

/*slider */
.slides{
  display: flex;
  overflow-y: hidden;
} 

.header-img{
  max-width:100%;
 mask-image: linear-gradient(to bottom, #000000 50%, transparent 100%); 
}
.slider{
  position: relative;
}

.slider i{
  position:absolute;
  top:25%;
  z-index: 1;
  font-size: 3em;
  line-height: 20px;
  opacity: 0.7; /* Reduce opacity to make it look thinner */
  transform: scaleX(0.9); /* Slightly compress the icon horizontally */
  
}



/* .slider a {
  position: absolute;
  top:50%;
  z-index: 1;
  padding: 5vh 1vw;
  background: #ffffff4f;
  color: #0000007b;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;

} */

.prev{
  left:40px;
}

.next{
  right:40px;
}

.box-row{
  display: flex;
  flex-wrap: wrap;
  row-gap:20px;
  justify-content: space-between;
  margin: 20px 30px;
}

.box-col{
 display: flex;
 flex-direction: column;
 gap: 10px;
 padding: 15px 20px;
 background: #fff;
 max-width:24%;
 min-height: 200px;
 z-index: 1;
}

.box-col a{
  font-size: 13px;
  color:#009999;
  font-weight: 500;
}

.header-box{
  margin-top: -20vw;

}

.products-slider{
  background: #fff;
  margin: 0 30px;
  padding: 20px;
  margin-bottom: 15px;
}

.products-slider .products{
  display: flex;
  overflow-x: auto;
  gap:20px;
  margin-top: 10px;
}

.products-slider .products img{
  max-width: 200px;
  max-height: 200px;
}

.products-slider .products::-webkit-scrollbar{
  display: none;
}

.products-slider-with-price{
  background:#fff;
  margin: 0 30px;
  padding: 20px;
  margin-bottom: 15px;
}
.products-slider-with-price .products{
  display:flex;
  overflow-x: auto;
  gap: 10px;
  margin-top:10px;

}
.products-slider-with-price .products::-webkit-scrollbar{
  display:none;
}

.product-card{
  display: flex;
  flex-direction: column;
  justify-content: end;
  min-width:210px;
  background:#fbfbfb;
}

.product-card img{
  width:110px;
  margin: 0 50px;
}

.product-offer p{
  background: #be0b3b;
  color:#fff;
  display:inline-block;
  padding: 2px 5px;
  border-radius: 2px;
  margin: 8px 0;
  font-size:13px;
}
.product-offer span{
  color:#be0b3b;
  font-weight:500;
  font-size:12px;
}

.product-price{
  color:gray;
  font-size:13px;
}
.product-card h4{
  color:#525252;
  font-size:15px;

}

/*sign in */
.sign-in{
  background: #fff;
  padding:50px 0px 50px 0px;

  
}

 .sign-in-border{
  width:100%;
  padding-left: 0px;
  margin-left: 0px;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  
} 

.sign-in-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}  


.recommendation{
 font-family: Arial, Helvetica, sans-serif;
 font-size: 13px;
 color: #000000;
 margin-bottom: 10px;
}

button{
  height: 28px;
  width: 230px;
  background-color: #ffc739;
  font-size: 12px;
  border: none;
  cursor: pointer;
  opacity: 0.9;
  border-radius: 5px;
  margin-bottom: 5px;
}



.link{
 font-size: 11px;
 font-family: Arial, Helvetica, sans-serif;
}

.link a{
  color: #007185;
  font-size: 11px;
}

.footer-top{
  width:100%;
  background-color: #37475a;
  text-align: center;
  padding:10px;
  color:white;
  font-size: 13px;
}

.footer{
  display: flex;
  justify-content: center;
  gap: 80px;
  padding:20px;
  background: #232F3E;
  color:white;
}

.footer h1{
 margin-bottom: 10px;

}

.footer p{
 margin-bottom: 5px;
 color:grey;
 font-size: 12px;
}

.footer-1{
  background-color: #232F3E;
  color:white;
  display: flex;
  justify-content: center;
  border-top: 1px solid #3a4553;
  padding:40px;
}

.footer-1-right{
  display: flex;
  gap: 5px;
  margin-left: 70px;
}

.footer-1-el{
  height:34px;
  min-width:150px;
  border: 1px solid #8d9096;
  margin: 0 4px 0 0;
  padding: 6px 18px 6px 8px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icons-down{
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.right {
  margin-right: 5px;
}

.left {
  margin-left: 5px;
}

.footer-2{
  background-color: #131a22;
  font-size:12px;
  text-align: center;
  
}

.footer-2-section{
  padding: 30px 0px 30px 0px;
  margin: 0 175px 0 175px;
  max-width:1000px;
  color:white;
  font-family: Arial, Helvetica, sans-serif;
  font-size:12px;
  display: table;
}

.footer-2-section td {
  display: table-cell;
}

.footer-2-section a {
font-size: 12px;
font-family: Arial, Helvetica, sans-serif;
text-align: left;
display: block;
}

.footer-2-section span{
 font-size: 12px;
 color:#999999;
 text-align: left;
 display: block;
}

.copyright{
  background-color: #131a22;
  color:white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 30px;

} 

.copyright ul{
  display: flex;
  gap:20px;
  margin-bottom: 5px;
  list-style-type:none;
  color:grey;
  
}

.copyright span{
  color:grey;
} 


